#burgerMenu{
    float:right;
    margin:20px;
    cursor: pointer;
    display: inline;

}

  img{
    text-align: center;
    height:250px;
    width:250px;
    margin:-50px 20px;
    cursor: pointer;
    margin-left:50px;

  }

#headerdiv{
    display:flex;
    justify-content: center;
}

