.news-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.205);
    transition: 0.5;
    transition-timing-function: ease-in-out;
    color: #EE8C3A;
}
.news-wrapper:hover {
    transform: scale(1.03);
    font-weight: 900;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #EE8C3A;
    color: black;
}

.news-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    width: 60%;

}
.news-author {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    width: 15%;
    margin-left: 30px;
}

.news-url button {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    transition-timing-function: ease-out;
    background-color: #EE8C3A;

}
.news-url button:hover {
    border-radius: 15px;
    padding: 10px;
    background-color: #EE8C3A;
    border: 3x solid black;
}

.news-author {
    color: gray;
}

@media only screen and (max-width: 1100px) {
    .news-wrapper {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .news-wrapper:hover {
        transform: none;
        font-weight: 900;
        font-size: 1rem;
        cursor: pointer;
        background-color: #EE8C3A;
        color: black;
    }
 

    .news-title {
        align-self: center;
        margin: 5px auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .news-author{
        margin: 20px 0;

    }

    .news-url button{
        display: none;
    }
    
  }