.news-wrapper {
    display: flex;
    flex-direction: column;
    height:auto;
    align-items: center;
    margin:50px 20px 25px 20px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.205);
    
}

.news-title {
    text-align: center;    
    margin: 10x 0px 10px 0px;
    padding:5px;

}
.news-author {
    border:1px solid rgb(198, 198, 17);
    color:white;
    margin: 10px 0px 20px 0px;
    padding:5px;

}

button{
    margin-top:20px;
    margin-bottom:20px;
}